name: Go CI -next level
on:
 push:
  branches:
  -master 
 pull_request:
  branches:
  -master


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
    matrix:
     go-version: ["1.20","1.21"]

    steps: 
       - name: Checkout code
         uses: actions/checkout@v4

       - name: Setup Go
         uses: actions/setup-go@v5
         with:
             go-version: $
             {{ matrix.go-version }}
       - name: Cache Go modules
         uses: actions/cache@v3
         with:
          path: |
              ~/go/pkg/mod
              ~/.cache/go-build
          key: ${{ runner.os }} -go-$
          {{ hashFiles('**/go.sum')}}    
          restore-keys: | 
          ${{  runner.os }}-go-


       - name: Install dependencies
         run: go mod tidy

       - name: Build
         run: go mod tidy

       - name: Test 
         run: go test./...



        