name: Go CI -next level
on:
 push:
  branches:
    - master 
 pull_request:
  branches:
    - master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout code
         uses: actions/checkout@v4


       - name: Set up  Go
         uses: actions/setup-go@v5
         with:
           go-version:  '1.22'

       - name: Download dependencies
         run:  go mod tidy

       - name: Build
         run: go build ./...

       - name: Test 
         run: go test ./...



        
        